aiobotocore
aiohttp
aioitertools
alabaster
altair
appdirs
attrs
boto3
botocore
certifi
charset-normalizer
click
cloudpickle
colorama
datasets
fsspec
huggingface-hub
jupyter
matplotlib
numpy
openpyxl
opensearch-py
pandas
protobuf
python-dateutil
python-dotenv
requests
s3fs
scikit-learn
scipy
seaborn
sentence-transformers
setuptools
torch
torchaudio
torchvision
tqdm
transformers
typing_extensions
